### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [4]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "../Homework-Four/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [5]:
no_null_purchase_data = purchase_data.dropna(how='any')

In [6]:
totalplayers_df = purchase_data["SN"].drop_duplicates()

In [7]:
Total_players = totalplayers_df.count()
Players = pd.DataFrame({
    "Players": [Total_players]})
Players

   Players
0      576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
sumofprice = purchase_data["Price"].sum()
Averageprice = round(sumofprice / len(purchase_data), 2)
Averageprice

3.05

In [9]:
sumofprice

2379.77

In [10]:
Numberofpurchases = len(purchase_data)
Numberofpurchases

780

In [11]:
uniqueitems = purchase_data["Item ID"].unique()

In [12]:
Purchasinganalysis = pd.DataFrame({
    "Number of Unique Items": [len(uniqueitems)],
    "Average Price": Averageprice,
    "Number of Purchases": Numberofpurchases, 
    "Total Revenue": sumofprice
})
Purchasinganalysis["Average Price"] = Purchasinganalysis["Average Price"].map("${:.2f}".format)
Purchasinganalysis["Total Revenue"] = Purchasinganalysis["Total Revenue"].map("${:.2f}".format)
Purchasinganalysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [13]:
gender_df = purchase_data[["SN", "Gender"]]
gender = gender_df.drop_duplicates()
GenderCount = gender["Gender"].value_counts()
GenderCount
Percentage = round(((GenderCount / len(gender))*100), 2)
Percentage

GenderDemographics = pd.DataFrame({
    "Total Count": GenderCount,
    "Perecentage of Players": Percentage
})
GenderDemographics

                       Total Count  Perecentage of Players
Male                           484                   84.03
Female                          81                   14.06
Other / Non-Disclosed           11                    1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [15]:
grouped_purchase = purchase_data.groupby(['Gender'])

# # In order to be visualized, a data function must be used...
gender_purchase_count = grouped_purchase["SN"].count()
gender_purchase_count
gendersumofprice = grouped_purchase["Price"].sum()
gendermeanofprice = grouped_purchase["Price"].mean()
gender_average_price = gendermeanofprice
gender_average_price
gender_average_per_person = gendersumofprice / GenderCount
gender_average_per_person
genderanalysis = pd.DataFrame({
    "Purchase Count": gender_purchase_count,
    "Average Purchase Price": gender_average_price,
    "Total Purchase Value": gendersumofprice,
    "Average Purchase Price per Person": gender_average_per_person
})

genderanalysis["Average Purchase Price"] = genderanalysis["Average Purchase Price"].map("${:.2f}".format)
genderanalysis["Total Purchase Value"] = genderanalysis["Total Purchase Value"].map("${:.2f}".format)
genderanalysis["Average Purchase Price per Person"] = genderanalysis["Average Purchase Price per Person"].map("${:.2f}".format)
genderanalysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Price per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [16]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 50]

bin_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

pd.cut(purchase_data["Age"], bins, labels=bin_names)
purchase_data["Age Demos"] = pd.cut(purchase_data["Age"], bins, labels=bin_names)

bin_df = purchase_data[["SN", "Age", "Age Demos"]]
Bin = bin_df.drop_duplicates()
Bin.count()

bin_group = Bin.groupby("Age Demos")

# # Find how many rows fall into each bin
bin_group_count = bin_group["Age"].count() 
age_group_percentage = round(((bin_group_count / Total_players)* 100), 2)
age_group_percentage

age_group_analysis = pd.DataFrame({
    "Total Count": bin_group_count,
    "Percentage of Players": age_group_percentage
})
age_group_analysis

           Total Count  Percentage of Players
Age Demos
<10                 17                   2.95
10-14               22                   3.82
15-19              107                  18.58
20-24              258                  44.79
25-29               77                  13.37
30-34               52                   9.03
35-39               31                   5.38
40+                 12                   2.08

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [20]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 50]

bin_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

pd.cut(purchase_data["Age"], bins, labels=bin_names)
purchase_data["Age Demos"] = pd.cut(purchase_data["Age"], bins, labels=bin_names)

average1 = purchase_data[["Age Demos","SN"]].drop_duplicates()
average2 = average1["Age Demos"].value_counts()
purchasinganalysis = purchase_data.groupby("Age Demos")
purchase_bin_count = purchasinganalysis["Age Demos"].count()
purchase_bin_count
purchase_sum_of_price = purchasinganalysis["Price"].sum()
purchase_sum_of_price
purchase_mean_of_price = purchasinganalysis["Price"].mean()
purchase_mean_of_price
purchase_average_per_person = purchase_sum_of_price / average2
purchase_average_per_person
purchase_age_analysis = pd.DataFrame({
    "Purchase Count": purchase_bin_count,
    "Average Purchase Price": purchase_mean_of_price,
    "Total Purchase Value": purchase_sum_of_price,
    "Average Purchase Price Per Person": purchase_average_per_person
})
purchase_age_analysis["Average Purchase Price"] = purchase_age_analysis["Average Purchase Price"].map("${:.2f}".format)
purchase_age_analysis["Total Purchase Value"] = purchase_age_analysis["Total Purchase Value"].map("${:.2f}".format)
purchase_age_analysis["Average Purchase Price Per Person"] = purchase_age_analysis["Average Purchase Price Per Person"].map("${:.2f}".format)
purchase_age_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Price Per Person
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19
<10,23,$3.35,$77.13,$4.54

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [21]:
top_spenders = purchase_data.groupby(['SN'])
# top_spender_average = 
spender_count = top_spenders["Purchase ID"].count()
top_spender_sum = top_spenders["Price"].sum()
top_spender_sum
top_spender_average = top_spender_sum / spender_count

top_spender_average

top_spender_analysis = pd.DataFrame({
    "Purchase Count": spender_count,
    "Average Purchase Price": top_spender_average,
    "Total Purchase Value": top_spender_sum
})
top_sort = top_spender_analysis.sort_values(by='Total Purchase Value', ascending=False).head()
top_sort["Average Purchase Price"] = top_sort["Average Purchase Price"].map("${:.2f}".format)
top_sort["Total Purchase Value"] = top_sort["Total Purchase Value"].map("${:.2f}".format)
top_sort

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [15]:
popular_df = purchase_data[["Item ID", "Item Name", "Price"]]
grouped_popular = popular_df.groupby(['Item ID', 'Item Name'])
popular_count = grouped_popular["Item ID"].count()
popular_count
popular_sum = grouped_popular["Price"].sum()
popular_sum
popular_item = popular_sum / popular_count
popular_item

popular_analysis = pd.DataFrame({
    "Purchase Count": popular_count,
    "Item Price": popular_item,
    "Total Purchase Value": popular_sum
})

popular_analysis_sort = popular_analysis.sort_values(by='Purchase Count', ascending=False).head()
popular_analysis_sort["Item Price"] = popular_analysis_sort["Item Price"].map("${:.2f}".format)
popular_analysis_sort["Total Purchase Value"] = popular_analysis_sort["Total Purchase Value"].map("${:.2f}".format)
popular_analysis_sort

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [16]:
profitable_items = popular_analysis.sort_values(by='Total Purchase Value', ascending=False).head()
profitable_items["Item Price"] = profitable_items["Item Price"].map("${:.2f}".format)
profitable_items["Total Purchase Value"] = profitable_items["Total Purchase Value"].map("${:.2f}".format)
profitable_items

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80